.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(3, 3, 228);
}
.brand{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.brand p{
    font-style: italic;
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin: 0px;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    margin-right: 30px;
}

.button {
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(255, 217, 0);
    padding: 0px 30px;
    margin: 10px 20px;
    border: none;
    border-radius: 5px;
}
.button:hover ,button:active{
    background-color: rgba(255, 230, 0, 0.87);
}

@media screen and (max-width:450px) {
    .brand{
        margin-left: 20px;
    }
    .brand p{
        font-size: 15px;
    }
    .link{
        margin-right: 10px;
    }
    .button{
        font-size: 12px;
        margin: 10px ;
        padding: 5px 18px;
    }
}